{
  "build": {
    "appId": "com.andrinoff.floatplane",
    "productName": "Floatplane",
    "directories": {
      "output": "dist-electron"
    },
    "compression": "maximum",
    "mac": {
      "target": {
        "target": "dmg",
        "arch": [
          "arm64",
          "x64"
        ]
      },
      "artifactName": "${productName}-${version}-${arch}.${ext}",
      "icon": "icon.icns",
      "category": "public.app-category.utilities"
    },
    "dmg": {
      "window": {
        "width": 540,
        "height": 380
      },
      "contents": [
        {
          "x": 130,
          "y": 186,
          "type": "file"
        },
        {
          "x": 410,
          "y": 186,
          "type": "link",
          "path": "/Applications"
        }
      ]
    },
    "files": [
      "dist/**/*",
      "main.js",
      "preload.js",
      "package.json",
      "!**/node_modules/**/*",
      "!src/**/*",
      "!webpack.config.js",
      "!*.md"
    ],
    "asar": true,
    "asarUnpack": []
  }
}
